#header {
  margin: 0;
  padding: 0;
  font-size: 12px;
  nav.navbar {
    background: $ebony;
    margin: 0;
    padding: 0;
    border: none;
    .navbar-toggle {
      border:1px solid $java;
      background: $cod_gray;
      transition: 1s;
      .icon-bar {
        background: $java;
      }
      &:hover {
        border: 1px solid $cod_gray;
        background: $java;
        .icon-bar {
          background: $cod_gray;
        }
      }
    }
    .navbar-brand {
      text-transform: uppercase;
      color: white;
      font-family: 'Montserrat', sans-serif;
      line-height: 20px;
      &:hover {
        color: $java;
      }
      img {
        display: inline-block;
      }
    }
    #navbar-collapse-1 {
      ul {
        li {
          text-align: center;
          a {
            margin: 0;
            padding: 10px;
            position: relative;
            line-height: 20px;
          }
        }
        &#main-menu {
          li {
            text-transform: uppercase;
            a, a:focus {
              &:hover {
                color: $java;
                &:before {
                  left: 0;
                  height: 2px;
                  width: 100%;
                }
              }
              &:before {
                position: absolute;
                bottom: 0;
                left: 50%;
                content: "";
                height: 2px;
                width: 0%;
                background-color: #20b7a3;
                transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
              }
            }
          }
        }
        &#login {
          background: $java;
          li {
            display: block;
            width: 50%;
            float: left;
            a {
              color: white;
              font-family: 'Roboto', sans-serif;
              &:hover {
                color: $java;
                background: white;
              }
              .fa {
                margin-right: 15px;
              }
            }
          }
        }
      }
      @media (min-width: $screen-sm) {
        float: right;
        ul {
          float: left!important;
          li {
            padding-left:10px;
            a {
              padding-left: 5px;
              padding-right: 5px;
              line-height: 30px;
            }
          }
          &#login {
            margin-left: 10px;
            background: none;
            li {
              width: auto;
              text-align: center;
              a {
                color: $java;
                font-family: 'Roboto', sans-serif;
                &:hover {
                  color: white;
                  background: none;
                }
              }
            }
          }
        }
      }
      @media (min-width: $screen-md) {
        ul {
          li {
            padding-left: 30px;
            a {
              line-height: 60px;
            }
          }
          &#login {
            margin-left: 30px;
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      height: 80px;
      line-height: 80px;
      .navbar-header {
        padding-top: 10px;
      }
    }
  }
}
