#loadingProgressG {
  /*------------------------------------------------------------------
  [4.1 Loading Progress / #loadingProgressG]
  */
  display: none;
  overflow:hidden;
  margin:auto;
  border-radius:8px;
  position: relative;
  line-height: 130px;
  font-size: 40px;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1300;
  padding-top: 282px;
  margin-top: -8rem;
  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.65);
    height: 100%;
    width: 100%;
  }
  .fa {
    position: relative;
    z-index: 1400;
    color: #fff;
  }
  .loadingProgressG{
    background-image: image-url('loading/loading_01.png');
    background-repeat: no-repeat;
    margin-top:0;
    width:200px;
    height:200px;
    z-index: 1350;
    position: absolute;
    left:50%;
    margin-left: -100px;
    top: 250px;
    #commet {
      background-image: image-url('loading/loading_02.png');
      width:200px;
      height:200px;
      animation: roll 3s infinite;
      transform: rotate(30deg);
      z-index: 1360;
    }
  }
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media(min-width:768px){
  #loadingProgressG{
    display: block;
  }
}
