.modal-content {
  background: $java;
  color: white;
  border-radius: 0;
  button.close {
    border-radius: 50px;
    background: $java;
    position: absolute;
    right: -20px;
    top: -20px;
    height: 40px;
    width: 40px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    line-height: 40px;
    border: 1px solid white;
    opacity: 1;
  }
  .modal-header {
    text-align: center;
    border: none;
  }
  label {
    font-weight: normal;
  }
  .button-more {
    background: none;
    color: white;
    border: 1px solid white;
    transition: 1s;
    font-size: 16px;
    &:hover {
      background: white;
      color: $java;
    }
  }
}
