.modal-dialog {
  margin-top: 10%;
  @media (max-width: $screen-sm) {
    margin: 10%;
  }
  .modal-content {
    background: $java;
    color: white;
    border-radius: 0;

    button.close {
      border-radius: 50px;
      background: $java;
      position: absolute;
      right: -20px;
      top: -20px;
      height: 40px;
      width: 40px;
      font-size: 2rem;
      color: white;
      cursor: pointer;
      line-height: 40px;
      border: 1px solid white;
      opacity: 1;
    }
    .modal-header {
      text-align: center;
      border: none;
      padding-bottom: 0;
      h4 {
        margin-bottom: 2rem;
      }
    }
    .modal-body {
      padding-top: 0;
    }
    label {
      font-weight: normal;
    }
    .button-more {
      background: none;
      color: white;
      border: 1px solid white;
      transition: 1s;
      font-size: 16px;
      &:hover {
        background: white;
        color: $java;
      }
    }
  }
}
