.tabbable.responsive {
  .nav-tabs {
    text-transform: uppercase;
    text-align: center;
    border-bottom: none;
    li {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      border-bottom: none;
      span.tab-control-spacer {
        float: left;
        width: 36px;
        height: 36px;
        margin-top: 4px;
        font-size: 56px;
        font-weight: 100;
        text-align: center;
        background: #444;
        border-radius: 18px;
        line-height: 28px;
        color: transparent;
        background: transparent;
        &.right {
          float: right;
        }
      }
      a {
        border-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        background: none;
        color: $dusty_gray;
        border-top: 4px solid $black_pearl;
        &:hover {
          border-style: none;
          background-color: transparent;
          border-top: 4px solid $java;
        }
        &.tab-control {
          background: none;
          float: left;
          width: 36px;
          height: 36px;
          margin-top: 10px;
          font-size: 56px;
          font-weight: 100;
          line-height: 30px;
          color: $java;
          text-align: center;
          border-radius: 18px;
          &:hover {
            background: $java!important;
          }
          &.right {
            float: right;
          }
        }
      }
      a[data-toggle="tab"] {
        line-height: 5rem;
      }
      &.active {
        border-left: 1px solid $cod_gray;
        border-right: 1px solid $cod_gray;
        @media (max-width: $screen-sm) {
          border-left: 0;
          border-right: 0;
        }
        a[data-toggle="tab"] {
          border-top: 4px solid $java;
          line-height: 5rem;
          background: $ebony;
          color: white;
          width: 200px;
        }
      }
    }
  }
  .tab-content {
    background: $ebony;
    border-left: 1px solid $cod_gray;
    border-right: 1px solid $cod_gray;
    border-bottom: 1px solid $cod_gray;
    border-top: 1px solid $cod_gray;
    padding: 30px 20px 30px;
    margin-bottom: 4rem;
  }
  @media (min-width: $screen-sm) {
    .nav-tabs {
      overflow: hidden;
        margin-bottom: -5px;
      li {
        width: 160px;
        float: none;
        display: inline-block!important;
        border-bottom: 1px solid $cod_gray;
        text-align: center!important;
        a {
          display: block;
          width: auto!important;
        }
        &.active {
          border-left: 1px solid $cod_gray;
          border-right: 1px solid $cod_gray;
          border-bottom: 1px solid $ebony;
        }
      }
    }
    .tab-content {
      margin-bottom: 8rem;
    }
  }
  @media (min-width: $screen-md) {
    .nav-tabs {
      li {
        width: 200px;
      }
    }
  }
}
@media (max-width: 767px) {
    .tabbable.responsive .nav-tabs > li > a:active,
    .tabbable.responsive .nav-tabs > .active > a,
    .tabbable.responsive .nav-tabs > .active > a:hover {
      	border-style: none;
    }
}
.tabbable.responsive .nav-tabs > li > a.tab-control:hover {
    color: white;
    background: #333;
}


//Section pills
.pills {
  .nav-pills {
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    li {
      float: none;
      display: table-cell;
      vertical-align: middle;
      width: 33%;
      a {
        display: block;
        border-radius: 0;
        border: none;
        margin: 0;
        background: $ebony;
        border: 1px solid $cod_gray;
        color: $dusty_gray;
        font-weight: 300;
        font-size: 12px;
        outline: 0;
        text-transform: uppercase;
        &:hover {
          background: $mountain_meadow;
          border: 1px solid $mountain_meadow;
          text-decoration: none;
          color: black;
        }
      }
      &.active a,
      &:focus a {
        background: $java;
        border: 1px solid $mountain_meadow;
        color: black;
      }
    }
    @media (min-width: $screen-sm) {
      max-width: 540px;
      margin: 0 auto;
    }
  }
  .tab-content {
    background: none;
    border: none;
    padding: 60px 0 0 0;
    margin-bottom: 30px;
  }
}
