/*Colors*/

$dusty_gray: #9B9B9B;
/*green section*/
$java: #20b7a3;
$mountain_meadow: #149d8b;
$cape_cod: #3c4b4b;
/*dark section*/
$black_pearl: #010509;
$ebony:  #060a0e;
$cod_gray: #161616;

/*gray section*/
$abbey: #798084;
$silver: #c7c7c7;
$shark: #1f2225;
/*yellow*/
$paris_daisy: #ffef69;
