@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/selection";
@import "compass/css3/appearance";
@import "bootstrap/stylesheets/_bootstrap.scss";
@import "variables.scss";
html { box-sizing: border-box;}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  @include selection($java, white)
}
body {
  background: $black_pearl;
  color: $dusty_gray;
  font-family: 'Open Sans', sans-serif;
  .revealOnScroll {
    opacity: 0;
    &.animated {
      opacity: 1;
    }
  }
  .animation-element.in-view {
    -webkit-animation-iteration-count: 1;
  }
  a {
    color: $java;
    transition: 1s;
    outline: 0;

    &:hover, &:focus, &:active {
      color: $java;
      outline: 0;
    }
    &.more {
      text-transform: uppercase;
      &:before {
        content: '\f178';
        color: $java;
        font-family: FontAwesome;
        margin-right: 10px;
        display: inline-block;
        transition: 1s;
      }
      &:hover {
        color: white;
        text-decoration: none;
        &:before {
          color: white;
        }
      }
    }
  }
  img {
    vertical-align: top;
    max-width: 100%;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 3rem;
    line-height: 30px;
    text-transform: uppercase;
    margin: 5rem 0;
    @media (min-width: $screen-sm) {
      font-size: 4rem;
    }
    @media (min-width: $screen-md) {
      margin: 8rem 0;
    }
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: white;
  }
  ul {
    font-family: 'Roboto', sans-serif;
  }

  .button-more, a.button-more {
    position: relative;
    font: normal 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0;
    box-shadow: inset 0 0 20px rgba(32,183,163,0);
    text-shadow: none;
    outline: 1px solid;
    outline-color: rgba(32,183,163,0.5);
    outline: 0px;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    color: #20b7a3;
    background-color:transparent;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    border-radius: 0px;
    user-select: none;
    border-color: #20b7a3;
    min-width: 190px;
    &:hover {
      color: #20b7a3;
      background-color:transparent;
      border-color: #178375;
      text-decoration: none;
      box-shadow: inset 0 0 20px rgba(32,183,163,0.5), 0 0 20px rgba(32,183,163,0.2);
      outline-color: rgba(32,183,163,0) !important;
      outline: 1px solid;
      outline-offset: 10px;
      // text-shadow: 1px 1px 2px #427388;
    }
    &:focus {
      color:#20b7a3;background-color:transparent;border-color:#0d4a42
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
      outline: 0;
      color: #20b7a3;
      background-color:transparent;
      border-color: #178375;
      background-image: none;
      &:hover,
      &:focus {
        color: #20b7a3;
        background-color:transparent;
        border-color: #0d4a42;
      }
    }
  }
  .green { color: $java;}
  .white { color: white;}
  .container { margin: 0 auto;}
  #earth .earth-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    h1 {
      color: $java;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 5rem;
      span {
        color: white;
      }
      p:last-child {
        font-size: 6.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  @import "header.scss";
  @import "sections/sections.scss";
  @import "tabs.scss";
  @import "modal.scss";
  @import "footer.scss";
}
