section {
  clear: both;
  padding-bottom: 5rem;
  position: relative;
  &:before {
    display: block;
    content: " ";
    height: 49px;
    margin-top: -49px;
  }
  @media (min-width: $screen-md) {
    padding-bottom: 8rem;
    &:before {
      height: 79px;
      margin-top: -79px;
    }
  }

  @import "sections/webgl.scss";

}
