&#comming_contact {
  .container {
    max-width: 390px;
    padding-bottom:2rem;
    h2 {
      font-size: 4rem;
      margin: 5rem 0 3rem 0;
    }
    hr {
      border-color: $silver;
      margin: 0 0 3rem 0;
    }
    ul {
      padding: 0;
      margin-bottom: 5rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: white;
      li {
        margin-bottom: 15px;
        .fa {
          font-size: 18px;
          width: 52px;
          text-align: center;
        }
      }
    }
    form {
      .input-group {
        width: 100%;
        margin-bottom: 2rem;
        border: 1px solid $silver;
        font-family: 'Open Sans', sans-serif;
        .input-group-addon {
          background: #20b7a3;
          color: white;
          border: none;
          border-radius: 0;
          width: 52px;
          .fa {
            font-size: 18px;
          }
        }
        input {
          height: 52px;
          background: none;
          color: $dusty_gray;
          border: none;
          border-radius: 0;
          vertical-align: middle;
          font-weight: 300;
          @include input-placeholder {
            color: $dusty_gray;
          }
          &.form-control {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.message {
          .input-group-addon {
            vertical-align: top;
            padding-top: 20px;
          }
          textarea {
            background: none;
            height: 130px;
            border: none;
            padding-top: 16px;
            font-weight: 100;
            color: $dusty_gray;
            @include input-placeholder {
              color: $dusty_gray;
            }
            &.form-control {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
      .form-group {
        margin: 0;
      }
      .button-more {
        background: none;
        color: $java;
        border: 1px solid $java;
        transition: 1s;
        font-size: 14px;
        min-width: 160px;
        margin: 0 auto;
        display: block;
        &:hover {
          color: $java;
        }
      }
    }
  }
  @media (min-width: $screen-sm) {
    .container {
      padding: 0;
    }
  }
}
