&#welcome {
  .container {
    a.logo {
      border: 1px solid $silver;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      width: 220px;
      height: 70px;
      line-height: 70px;
      font-size: 18px;
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
      img {
        vertical-align: middle;
        margin: 0 auto;
      }
      &:hover {
        color: $java;
        border: 1px solid $java;
      }
    }
    h1 {
      color: $java;
      font-family: 'Roboto', sans-serif;
      font-size: 5rem;
      font-weight: 700;
      background: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      margin: 0;
      padding: 2rem 0;
      line-height: 52px;
      span {
        color: white;
      }
    }
    h2 {
      margin: 4rem 0 2rem;
      line-height: 2.4rem;
    }
  }
  @media (min-width: $screen-md) {
    .container {
      h1 {
        font-size: 6.5rem;
        padding: 4rem 0;
      }
    }
  }
}
