&#abovefooter {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0;
  h3 { margin: 0 0 20px 0;}
  .col-xs-12 { margin-bottom: 20px;}
  // .row:first-child {
  //   @media (min-width: $screen-sm) {
  //     margin-bottom: 2rem;
  //   }
  // }
  .site-about {
    h3 { text-transform: uppercase;}
  }
  .newsletter {
    margin-bottom: 3rem;
    form {
      .form-group {
        margin-bottom: 0;
      }
      .input-group {
        border: 1px solid $silver;
        border-radius: 0;
        overflow: hidden;
        width: 100%;
        .fa {
          background: $java;
          color: white;
          border: none;
          border-radius: 0;
        }
        input {
          background: none;
          color: $dusty_gray;
          border: none;
          border-radius: 0;
          width: 90%;
          font-size: 14px;
        }
        button {
          border: none;
          border-radius: 0;
          background: $java;
          padding: 0;
          width: 10%;
        }
      }
    }
    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      .input-group {
        max-width: 350px;
      }
    }
  }

  .twitter-tweet {
    border: none;
    padding: 0 0 0 100px;
    margin-bottom: 3rem;
    font-size: 12px;
    background: image-url('tweeter-icon.png');
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 65px;
  }
  .tags {
    a {
      color: $java;
      display: inline-block;
      border: 1px solid $java;
      padding: 7px 15px;
      margin: 0 5px 5px 0;
      font-size: 14px;
      &:hover {
        color: black;
        background: $java;
        text-decoration: none;
      }
    }
  }
  .social {
    a {
      margin-right: 15px;
      color: white;
      &:hover {
        color: $java;
      }
    }
  }
}
