&#animated_sales {
  position:relative;
  background: $ebony;
  /* GRAPH */
  h2 {
    text-align: center;
    line-height: 3rem;
    margin: 0 0 4rem 0;
    @media (min-width: $screen-sm) {
      margin: 6rem 0 4rem 0;
    }
  }
  h4 {
    line-height: normal;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
  }
  .content {
    height:300px;
    margin:0 auto;
    padding-top:450px;
    position:relative;
    max-width: 320px;
  }
  #line_horizontal {
    position: absolute;
    left: 0;
    bottom: 30%;
    height: 1px;
    width: 100%;
    background: $elm;
  }
  .line_vert {
    position: absolute;
    left: 10%;
    bottom: 35px;
    height: 70%;
    width: 1px;
    background: $elm;
    &:nth-child(2n) {
      bottom: auto;
      top: 35px;
    }
    &:nth-child(9) {
      left: 90%;
    }
    &:nth-child(8) {
      left: 80%;
    }
    &:nth-child(7) {
      left: 70%;
    }
    &:nth-child(6) {
      left: 60%;
    }
    &:nth-child(5) {
      left: 50%;
    }
    &:nth-child(4) {
      left: 40%;
    }
    &:nth-child(3) {
      left: 30%;
    }
    &:nth-child(2) {
      left: 20%;
    }
  }
  .serv, .mon {
    position: absolute;
    width: 40px;
    height: 40px;
    color: $elm;
    border: 1px solid $elm;
    border-radius: 50%;
    background: black;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    margin-left: -20px;
  }
  .mon {
    bottom: 0;
    font-size: 10px;
    &.month1 {left: 10%;}
    &.month2 {left: 30%;}
    &.month3 {left: 50%;}
    &.month4 {left: 70%;}
    &.month5 {left: 90%;}
  }
  .serv {
    top: 0;
    font-size: 16px;
    &.serv1 {left: 20%;}
    &.serv2 {left: 40%;}
    &.serv3 {left: 60%;}
    &.serv4 {left: 80%;}
  }
  .line, .line1, .line2, .line3, .line4, .line5, .line6, .line7 {
    background: $elm;
    width:0px;
    height:1px;
  }

  .running .line {
    transform:rotate(-57deg);
    transform-origin: -108px -97px;
    animation:move 0.5s 1s linear forwards;
  }
  .running .line1 {
    transform:rotate(30deg);
    transform-origin: 377px 34px;
    animation:move1 0.5s 1.5s linear forwards;
  }
  .running .line2 {
    transform:rotate(-70deg);
    transform-origin: -70px -150px;
    animation:move2 0.5s 2s linear forwards;
  }
  .running .line3 {
    transform:rotate(305deg);
    transform-origin: -182px -253px;
    animation:move3 0.5s 2.5s linear forwards;
  }
  .running .line4 {
    transform:rotate(77deg);
    transform-origin: 268px -48px;
    animation:move4 0.5s 3s linear forwards;
  }
  .running .line5 {
    transform:rotate(-62deg);
    transform-origin: -44px -245px;
    animation:move5 0.5s 3.5s linear forwards;
  }
  .running .line6 {
    transform:rotate(28deg);
    transform-origin: 568px 339px;
    animation:move6 0.5s 4s linear forwards;
  }
  .running .line7 {
    transform:rotate(-74deg);
    transform-origin: -11px -275px;
    animation:move7 0.5s 4.5s linear forwards;
  }

  .running .ball,
  .running  .ball1,
  .running  .ball2,
  .running  .ball3,
  .running  .ball4,
  .running  .ball5,
  .running  .ball6,
  .running  .ball7,
  .running  .ball8 {
    background-color: $elm;
    background-image: -moz-linear-gradient(90deg, $elm 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, $elm 25%, #a0eaff);
    width:10px;
    height:10px;
    border-radius:50px;
    position:absolute;
    z-index:99;
    transform:scale(0);
    animation:point 0.1s linear forwards;
  }
  .running .pulse{
    display: none;
  }
  .running .pulse,
  .running .pulse1,
  .running  .pulse2,
  .running  .pulse3,
  .running  .pulse4,
  .running  .pulse5,
  .running  .pulse6,
  .running  .pulse7,
  .running  .pulse8 {
    width:12px;
    height:12px;
    border-radius:30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position:absolute;
    transform:scale(0);
    animation:pulse 0.1s ease-out;
  }

  /* TOOLTIP */
  .ball a, .ball1 a, .ball2 a, .ball3 a, .ball4 a, .ball5 a, .ball6 a, .ball7 a, .ball8 a {
    float:left;
    height:10px;
    width:10px;
    text-decoration:none;
    position:relative;
  }
  .ball a small, .ball1 a small, .ball2 a small, .ball3 a small, .ball4 a small, .ball5 a small, .ball6 a small, .ball7 a small, .ball8 a small {
    background:#000;
    text-align:center;
    width:70px;
    padding:5px;
    border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333;
    border-radius:3px;
    display:none;
    color:#fff;
    font-size:0.8em;
    text-indent:0;
  }
  .ball a:hover small, .ball1 a:hover small, .ball2 a:hover small, .ball3 a:hover small, .ball4 a:hover small, .ball5 a:hover small, .ball6 a:hover small, .ball7 a:hover small, .ball8 a:hover small {
    display:block;
    position:absolute;
    top:0px;
    left:50%;
    margin:-40px;
    z-index:9999;
    -moz-animation:tooltip .25s linear;
    -webkit-animation:tooltip .25s linear;
  }

  /* COORDINATE POINTS */
  .ball  { top:69%; left:8.8%; }
  .ball1 { top:58%; left:18.8%; }
  .ball2 { top:62%; left:28.8%; }
  .ball3 { top:43%; left:38.8%; }
  .ball4 { top:33%; left:48.8%; }
  .ball5 { top:63%; left:58.8%; }
  .ball6 { top:50%; left:68.8%; }
  .ball7 { top:54%; left:78.8%; }
  .ball8 { top:30%; left:88.8%; }

  .pulse  { top:68.8%; left:8.6%; }
  .pulse1 { top:57.8%; left:18.6%; }
  .pulse2 { top:61.8%; left:28.6%; }
  .pulse3 { top:42.8%; left:38.6%; }
  .pulse4 { top:32.8%; left:48.6%; }
  .pulse5 { top:62.8%; left:58.6%; }
  .pulse6 { top:49.8%; left:68.6%; }
  .pulse7 { top:53.8%; left:78.6%; }
  .pulse8 { top:29.8%; left:88.6%; }

  /* CONTROL LAYER DELAY */
  #layerBall, #layerPulse   { animation-delay:1s; }
  #layerBall1, #layerPulse1 { animation-delay:1.5s; }
  #layerBall2, #layerPulse2 { animation-delay:2s; }
  #layerBall3, #layerPulse3 { animation-delay:2.5s; }
  #layerBall4, #layerPulse4 { animation-delay:3s; }
  #layerBall5, #layerPulse5 { animation-delay:3.5s; }
  #layerBall6, #layerPulse6 { animation-delay:4s; }
  #layerBall7, #layerPulse7 { animation-delay:4.5s; }
  #layerBall8, #layerPulse8 { animation-delay:5s; }

  /* ANIMATION */
  @-webkit-keyframes move {
    0%   { width:0px;}
    100% { width:17%;}
  }
  @-webkit-keyframes move1 {
    0%   { width:0px;}
    100% { width:10%;}
  }
  @-webkit-keyframes move2 {
    0%   { width:0px;}
    100% { width:28%;}
  }
  @-webkit-keyframes move3 {
    0%   { width:0px;}
    100% { width:15%;}
  }
  @-webkit-keyframes move4 {
    0%   { width:0px;}
    100% { width:44%;}
  }
  @-webkit-keyframes move5 {
    0%   { width:0px;}
    100% { width:20%;}
  }
  @-webkit-keyframes move6 {
    0%   { width:0px;}
    100% { width:10%;}
  }
  @-webkit-keyframes move7 {
    0%   { width:0px;}
    100% { width:36%;}
  }
  @-webkit-keyframes point {
    0%  {-webkit-transform:scale(0,0);}
    100%{-webkit-transform:scale(1,1);}
  }
  @-webkit-keyframes pulse {
    0%   {-webkit-transform: scale(0);opacity: 0;}
      10%  {-webkit-transform: scale(1);opacity: 0.5;}
    50%  {-webkit-transform: scale(1.75);opacity: 0;}
      100% {-webkit-transform: scale(0);opacity: 0;}
  }
  @-webkit-keyframes tooltip {
    0%  { -webkit-transform:scale(0,0); opacity:0;}
    50% { -webkit-transform:scale(1.2,1.2); opacity:0.3; }
    75% { -webkit-transform:scale(0.9,0.9); opacity:0.7;}
    100%{ -webkit-transform:scale(1,1); opacity:1;}
  }

  @media (max-width: 320px) {
    /* COORDINATE POINTS */
    .ball  { top:69%; left:8.7%; }
    .ball1 { top:58%; left:18.7%; }
    .ball2 { top:62%; left:28.7%; }
    .ball3 { top:43%; left:38.7%; }
    .ball4 { top:33%; left:48.7%; }
    .ball5 { top:63%; left:58.7%; }
    .ball6 { top:50%; left:68.7%; }
    .ball7 { top:54%; left:78.7%; }
    .ball8 { top:30%; left:88.7%; }

    .pulse  { top:68.8%; left:8.2%; }
    .pulse1 { top:57.8%; left:18.2%; }
    .pulse2 { top:61.8%; left:28.2%; }
    .pulse3 { top:42.8%; left:38.2%; }
    .pulse4 { top:32.8%; left:48.2%; }
    .pulse5 { top:62.8%; left:58.2%; }
    .pulse6 { top:49.8%; left:68.2%; }
    .pulse7 { top:53.8%; left:78.2%; }
    .pulse8 { top:29.8%; left:88.2%; }
  }
  @media (min-width: $screen-sm ) {
    /* COORDINATE POINTS */
    .ball  { top:69%; left:9.2%; }
    .ball1 { top:58%; left:19.2%; }
    .ball2 { top:62%; left:29.2%; }
    .ball3 { top:43%; left:39.2%; }
    .ball4 { top:33%; left:49.2%; }
    .ball5 { top:63%; left:59.2%; }
    .ball6 { top:50%; left:69.2%; }
    .ball7 { top:54%; left:79.2%; }
    .ball8 { top:30%; left:89.2%; }

    .pulse  { top:68.8%; left:9.1%; }
    .pulse1 { top:57.8%; left:19.1%; }
    .pulse2 { top:61.8%; left:29.1%; }
    .pulse3 { top:42.8%; left:39.1%; }
    .pulse4 { top:32.8%; left:49.1%; }
    .pulse5 { top:62.8%; left:59.1%; }
    .pulse6 { top:49.8%; left:69.1%; }
    .pulse7 { top:53.8%; left:79.1%; }
    .pulse8 { top:29.8%; left:89.1%; }
  }
  //Start 6x iphone
  @media (max-width: 320px) {
    .running .line {
      transform:rotate(-60deg);
      transform-origin: -100px -90px;
      animation:move 0.5s 1s linear forwards;
    }
    .running .line1 {
      transform:rotate(35deg);
      transform-origin: 325px 5px;
      animation:move1 0.5s 1.5s linear forwards;
    }
    .running .line2 {
      transform:rotate(-72deg);
      transform-origin: -70px -144px;
      animation:move2 0.5s 2s linear forwards;
    }
    .running .line3 {
      transform:rotate(300deg);
      transform-origin: -162px -230px;
      animation:move3 0.5s 2.5s linear forwards;
    }
    .running .line4 {
      transform:rotate(78deg);
      transform-origin: 257px -58px;
      animation:move4 0.5s 3s linear forwards;
    }
    .running .line5 {
      transform:rotate(-65deg);
      transform-origin: -43px -221px;
      animation:move5 0.5s 3.5s linear forwards;
    }
    .running .line6 {
      transform:rotate(30deg);
      transform-origin: 522px 275px;
      animation:move6 0.5s 4s linear forwards;
    }
    .running .line7 {
      transform:rotate(-76deg);
      transform-origin: -18px -255px;
      animation:move7 0.5s 4.5s linear forwards;
    }
    /* ANIMATION */
    @-webkit-keyframes move {
      0%   { width:0px;}
      100% { width:20%;}
    }
    @-webkit-keyframes move1 {
      0%   { width:0px;}
      100% { width:10%;}
    }
    @-webkit-keyframes move2 {
      0%   { width:0px;}
      100% { width:30%;}
    }
    @-webkit-keyframes move3 {
      0%   { width:0px;}
      100% { width:17%;}
    }
    @-webkit-keyframes move4 {
      0%   { width:0px;}
      100% { width:45%;}
    }
    @-webkit-keyframes move5 {
      0%   { width:0px;}
      100% { width:21%;}
    }
    @-webkit-keyframes move6 {
      0%   { width:0px;}
      100% { width:10%;}
    }
    @-webkit-keyframes move7 {
      0%   { width:0px;}
      100% { width:37%;}
    }

  }
  //Start tablet here
  @media (min-width: $screen-sm) {
    h2 { text-align: left;}
    .content {
      max-width: none;
      margin:0 30px;
    }
    .running .line {
      transform:rotate(-38deg);
      transform-origin: -159px -157px;
      animation:move 0.5s 1s linear forwards;
    }
    .running .line1 {
      transform:rotate(16deg);
      transform-origin: 725px 385px;
      animation:move1 0.5s 1.5s linear forwards;
    }
    .running .line2 {
      transform:rotate(-52deg);
      transform-origin: -72px -285px;
      animation:move2 0.5s 2s linear forwards;
    }
    .running .line3 {
      transform:rotate(325deg);
      transform-origin: -271px -550px;
      animation:move3 0.5s 2.5s linear forwards;
    }
    .running .line4 {
      transform:rotate(64deg);
      transform-origin: 405px 115px;
      animation:move4 0.5s 3s linear forwards;
    }
    .running .line5 {
      transform:rotate(-42deg);
      transform-origin: -17px -593px;
      animation:move5 0.5s 3.5s linear forwards;
    }
    .running .line6 {
      transform:rotate(18deg);
      transform-origin: 949px 1350px;
      animation:move6 0.5s 4s linear forwards;
    }
    .running .line7 {
      transform:rotate(-59deg);
      transform-origin: 80px -570px;
      animation:move7 0.5s 4.5s linear forwards;
    }
    /* ANIMATION */
    @-webkit-keyframes move {
      0%   { width:0px;}
      100% { width:14%; }
    }
    @-webkit-keyframes move1 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move2 {
      0%   { width:0px;}
      100% { width:17%; }
    }
    @-webkit-keyframes move3 {
      0%   { width:0px;}
      100% { width:12%; }
    }
    @-webkit-keyframes move4 {
      0%   { width:0px;}
      100% { width:23%; }
    }
    @-webkit-keyframes move5 {
      0%   { width:0px;}
      100% { width:15%; }
    }
    @-webkit-keyframes move6 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move7 {
      0%   { width:0px;}
      100% { width:20%; }
    }
  }
  //Start desktop small here
  @media (min-width: $screen-md) {
    .running .line {
      transform:rotate(-53deg);
      transform-origin: -116px -112px;
      animation:move 0.5s 1s linear forwards;
    }
    .running .line1 {
      transform:rotate(26deg);
      transform-origin: 444px 88px;
      animation:move1 0.5s 1.5s linear forwards;
    }
    .running .line2 {
      transform:rotate(-66deg);
      transform-origin: -68px -175px;
      animation:move2 0.5s 2s linear forwards;
    }
    .running .line3 {
      transform:rotate(310deg);
      transform-origin: -194px -302px;
      animation:move3 0.5s 2.5s linear forwards;
    }
    .running .line4 {
      transform:rotate(74deg);
      transform-origin: 298px -17px;
      animation:move4 0.5s 3s linear forwards;
    }
    .running .line5 {
      transform:rotate(-58deg);
      transform-origin: -32px -302px;
      animation:move5 0.5s 3.5s linear forwards;
    }
    .running .line6 {
      transform:rotate(25deg);
      transform-origin: 650px 520px;
      animation:move6 0.5s 4s linear forwards;
    }
    .running .line7 {
      transform:rotate(-70deg);
      transform-origin: 10px -330px;
      animation:move7 0.5s 4.5s linear forwards;
    }
    /* ANIMATION */
    @-webkit-keyframes move {
      0%   { width:0px;}
      100% { width:14%; }
    }
    @-webkit-keyframes move1 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move2 {
      0%   { width:0px;}
      100% { width:25%; }
    }
    @-webkit-keyframes move3 {
      0%   { width:0px;}
      100% { width:14%; }
    }
    @-webkit-keyframes move4 {
      0%   { width:0px;}
      100% { width:34%; }
    }
    @-webkit-keyframes move5 {
      0%   { width:0px;}
      100% { width:16%; }
    }
    @-webkit-keyframes move6 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move7 {
      0%   { width:0px;}
      100% { width:30%; }
    }
  }
  //Start desktop large here
  @media (min-width: $screen-lg) {
    .running .line {
      transform:rotate(-45deg);
      transform-origin: -140px -130px;
      animation:move 0.5s 1s linear forwards;
    }

    .running .line1 {
      transform:rotate(20deg);
      transform-origin: 575px 200px;
      animation:move1 0.5s 1.5s linear forwards;
    }
    .running .line2 {
      transform:rotate(-60deg);
      transform-origin: -70px -210px;
      animation:move2 0.5s 2s linear forwards;
    }
    .running .line3 {
      transform:rotate(316deg);
      transform-origin: -217px -380px;
      animation:move3 0.5s 2.5s linear forwards;
    }
    .running .line4 {
      transform:rotate(70deg);
      transform-origin: 336px 30px;
      animation:move4 0.5s 3s linear forwards;
    }
    .running .line5 {
      transform:rotate(-50deg);
      transform-origin: -30px -402px;
      animation:move5 0.5s 3.5s linear forwards;
    }
    .running .line6 {
      transform:rotate(19deg);
      transform-origin: 850px 930px;
      animation:move6 0.5s 4s linear forwards;
    }
    .running .line7 {
      transform:rotate(-66deg);
      transform-origin: 38px -410px;
      animation:move7 0.5s 4.5s linear forwards;
    }
    /* ANIMATION */
    @-webkit-keyframes move {
      0%   { width:0px;}
      100% { width:14%; }
    }
    @-webkit-keyframes move1 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move2 {
      0%   { width:0px;}
      100% { width:20%; }
    }
    @-webkit-keyframes move3 {
      0%   { width:0px;}
      100% { width:12%; }
    }
    @-webkit-keyframes move4 {
      0%   { width:0px;}
      100% { width:28%; }
    }
    @-webkit-keyframes move5 {
      0%   { width:0px;}
      100% { width:16%; }
    }
    @-webkit-keyframes move6 {
      0%   { width:0px;}
      100% { width:10%; }
    }
    @-webkit-keyframes move7 {
      0%   { width:0px;}
      100% { width:24%; }
    }
  }
}
