&#become_member {
  padding: 35px 0;
  margin-bottom: 3rem;
  z-index: 200;
  overflow: visible;
  border-bottom: 2px solid $mountain_meadow;
  h2 {
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 4rem;
    line-height: normal;
  }
  p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .fa-money {
    font-size: 75px;
    line-height: 65px;
  }
  &.green {
    background: $java;
    border-bottom: 1px solid $mountain_meadow;
    color: white;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      z-index: 200;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 8px solid $java;
      margin-left: -16px;
      margin-top: 0;
    }
    button#hide-green-block {
      position: absolute;
      bottom:-25px;
      left: 50%;
      background: $mountain_meadow;
      border: none;
      color: white;
      text-transform: uppercase;
      font-size: 11px;
      padding: 5px 10px;
      margin-left: -70px;
      .fa {
        vertical-align: top;
        font-size: 10px;
        // top: 5px;
      }
    }
  }
  .col-md-2 {
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom: 20px;
    position: relative;
  }
  .col-md-10 {
    text-align: center;
    position: relative;
    padding: 0 30px;
    p {
      padding: 0 36px;
    }
  }
  @media (min-width: $screen-md) {
    .col-md-2 {
      margin-bottom: 0;
    }
    .col-md-10 {
      text-align: left;
      padding: 0 15px;
      h2 {

      }
      p {
        padding: 0;
        margin-bottom: 5px;
      }
      &:before {
        content: '';
        display: block;
        background: white;
        margin-bottom: 0;
        width: 1px;
        height: 100%;
        position: absolute;
        left: -10px;
        top: 0;
      }
    }
  }
  @media (min-width: $screen-lg) {
    .col-md-2 {
      &:after {
        right: 15px;
      }
    }
    .col-md-10 {
      text-align: left;
      padding: 0 15px;
      h2 {
        line-height: 30px;
        margin-top: 10px;
      }
      &:before {
        left: -15px;
      }
    }
  }
}
