&#best_sellers {
  .product-item {
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    // margin-bottom: 20px;
    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
    hr {
      border-color: $shark;
    }
    .name {
      margin: 0;
      padding: 10px 0 0;
      font-size: 16px;
      color: white;
      font-weight: 500;
    }
    .stars {
      color: $paris_daisy;
      float: left;
      font-size: 20px;
      .fa {
        line-height: 20px;
      }
    }
    .reviews {
      float: right;
      border: 1px solid $cod_gray;
      position: relative;
      line-height: 26px;
      padding: 0 10px;
      font-size: 12px;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        left: -7px;
        top: 50%;
        margin-top: -7px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid $cod_gray;
      }
    }
    a.buy {
      display: block;
      position: absolute;
      top: -10px;
      right: -10px;
      background: $java;
      border: 1px solid $java;
      color: white;
      padding: 20px;
      width: 80px;
      text-align: center;
      &:hover {
        background: black;
        border: 1px solid $cod_gray;
        color: white;
        .fa:before {
          content: "\f067";
        }
      }
    }
  }
}
