&#choose_your_plan {
  /*------------------------------------------------------------------
  [5.15 Section Choose Your Plan / #choose_your_plan]
  */
  .plan {
    background: $ebony;
    font-family: 'Roboto', sans-serif;
    border: 1px solid $cod_gray;
    padding: 40px 50px;
    margin-bottom: 15px;
    position: relative;
    transition: 1s;
    .price {
      font-size: 72px;
      line-height: 72px;
      color: $java;
      font-weight: 300;
      transition: 1s;
    }
    .name {
      font-size: 20px;
      color: white;
    }
    .date {
      margin: 15px 0;
    }
    hr {
      border-color: $cape_cod;
      transition: 1s;
      margin: 35px 0;
    }
    ul {
      margin-bottom: 25px;
      li {
        padding-bottom: 10px;
        .glyphicon {
          margin-right: 10px;
        }
        .glyphicon-ok {
          color: $java;
          transition: 1s;
        }
      }
    }
    .button-more {
      display: block;
      width: auto;
    }
    /*green active state + hover*/
    &.best, &:hover {
      background: $java;
      color: white;
      hr { border-color: #e6e7e6;}
      .price { color: white;}
      ul li{
        .glyphicon-ok { color: white;}
      }
      .button-more {
        border-color: white;
        color: white;
        &:hover {
          background: white;
          color: $java;
          text-shadow: none;
        }
      }
    }

  }
  @media (min-width: $screen-sm) {
    padding-bottom: 5rem;
    .plan {
      padding: 40px 30px;
    }
  }
  @media (min-width: $screen-md) {
    padding-bottom: 8rem;
  }
}
