&#client_opinion {
  background: image-url('client_opinion.jpg');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
  text-align: center;
  .button-more {
    width: 190px;
  }
  &:before {
    background: $ebony;
  }
  .owl-controls {
    overflow: hidden;
    margin: 0;
    .owl-prev, .owl-next {
      opacity: 1;
      font-family: FontAwesome;
      text-indent: -9999px;
      background: none;
      font-size: 5rem;
      line-height: 3.6rem;
      color: white;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 80px;
      &:before {
        position: absolute;
        display: block;
        text-indent: 0;
        width: 18px;
        height: 36px;
      }
    }
    .owl-prev {
      left: 15px;
      &:before {
        content: '\f104';
        left: 0;
      }
    }
    .owl-next {
      right: 15px;
      &:before {
        content: '\f105';
        right: 0;
      }
    }
    @media (min-width: $screen-sm) {
      .owl-prev, .owl-next {
        font-size: 5rem;
        top: 80px;
      }
      .owl-prev {
        left: 36%;
      }
      .owl-next {
        right: 36%;
      }
    }
  }
  #quote-carousel {
    h2 {
      margin-bottom: 6rem;
    }
    blockquote {
      border: none;
      font-size: 14px;
      position: relative;
      padding: 0;
      margin-bottom: 8rem;
      font-family: 'Roboto', sans-serif;
      img {
        display: inline;
        width: auto;
      }
      p {
        width: 75%;
        margin: 0 auto;
        line-height: 24px;
        &.author {
          margin: 15px auto;
          font-size: 20px;
          color: white;
          font-weight: 500;
        }
        .button-more {
          display: inline-block;
        }
      }
      .description {
        height: 110px;
        overflow: hidden;
        padding-top: 35px;
      }
      .item {
        transition: 1s ease-in-out left;
      }
      @media (min-width: $screen-sm) {
        p {
          width: 80%;
          margin: 0 auto;
          &.author {
            margin: 30px auto;
          }
        }
        &:before, &:after {
          font-family: FontAwesome;
          color: $java;
          font-size: 50px;
          font-weight: normal;
          vertical-align: super;
          position: absolute;
          top: 220px;
        }
        &:before {
          content: '\f10d';
          left: 20px;
        }
        &:after {
          content: '\f10e';
          right: 20px;
        }
      }
    }
  }
}
