&#contact_info {
  background: image-url('contact_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 530px;
  &:before {
    background: $black_pearl;
  }
  .modal_popup {
    background: $java;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 4rem 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    @media (min-width: $screen-sm) {
      left: 50%;
      margin-left: -225px;
      max-width: 450px;
      right: auto;
      padding: 4rem 7rem;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      z-index: 200;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $java;
      margin-left: -20px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
    }
    p {
      line-height: 24px;
      margin-bottom: 20px;
      &:nth-child(2) {
        font-weight: 300;
      }
    }
    .close_popup {
      border-radius: 50px;
      background: $java;
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      line-height: 1px;
      padding: 10px;
      border: 1px solid white;
    }
    .button-more {
      border-color: white;
      color: white;
      &:hover {
        background: white;
        color: $java;
      }
    }
  }
}
