&#contact_us {
  min-height: 610px;
  &:before {
    background: $black_pearl;
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.7;
  }
  &.clearmap {
    &:after {
      display: none;
    }
  }
  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  #contactform {
    position: relative;
    z-index: 10; /* The z-index should be higher than Google Maps */
    margin: 60px auto 0;
    height: auto;
    // opacity: .45; /* Set the opacity for a slightly transparent Google Form */
    background: $java;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 4rem 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    @media (min-width: $screen-sm) {
      left: 50%;
      margin-left: -225px;
      max-width: 450px;
      right: auto;
      padding: 4rem 7rem;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      z-index: 200;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $java;
      margin-left: -20px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
    }
    p {
      line-height: 24px;
      margin-bottom: 20px;
      &:nth-child(2) {
        font-weight: 300;
      }
    }
    .close_popup {
      border-radius: 50px;
      background: $java;
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      line-height: 1px;
      padding: 10px;
      border: 1px solid white;
    }
    .button-more {
      border-color: white;
      color: white;
      &:hover {
        background: white;
        color: $java;
      }
    }
  }
}
