&#contact_us {
  min-height: 610px;
  &:before {
    background: $black_pearl;
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
  }
  &.clearmap {
    &:after {
      display: none;
    }
  }
  #googlemaps {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  #contactform {
    position: relative;
    z-index: 10; /* The z-index should be higher than Google Maps */
    margin: 60px auto 0;
    height: auto;
    // opacity: .45; /* Set the opacity for a slightly transparent Google Form */
    background: $java;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 4rem 2rem;
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    @media (min-width: $screen-sm) {
      left: 50%;
      margin-left: -225px;
      max-width: 450px;
      right: auto;
      padding: 4rem 7rem;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      z-index: 200;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid $java;
      margin-left: -20px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 22px;
    }
    p {
      line-height: 24px;
      margin-bottom: 20px;
      &:nth-child(2) {
        font-weight: 300;
      }
    }
    .close_popup {
      border-radius: 50px;
      background: $java;
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 16px;
      color: white;
      cursor: pointer;
      line-height: 1px;
      padding: 10px;
      border: 1px solid white;
    }
    .button-more {
      border-color: white;
      color: white;
      &:hover {
        background: white;
        color: $java;
      }
    }
  }
  #contact-form {
    background: $mountain_meadow;
    height: 530px;
    position: absolute;
    overflow: auto;
    left: 0;
    top: 8rem;
    z-index: 999;
    width: 100%;
    display: none;
    .top {
      margin: 8.5rem 0 4rem 0;
      overflow: hidden;
      h2 {
        font-size: 22px;
        font-weight: 100;
        margin: 0;
        float: left;
      }
      a.back {
        float: right;
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        .fa{
          transition: 1s;
          background: $java;
          font-size: 20px;
          display: inline-block;
          width: 32px;
          height: 32px;
          text-align: center;
          line-height: 32px;
          margin-left: 2rem;
          border-radius: 50%;
          &:before {
            margin-left: -3px;
          }
        }
        &:hover {
          text-decoration: none;
          .fa {
            background: white;
            color: $java;
          }
        }
      }
    }
    form {
      .input-group {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid $java;
        font-family: 'Open Sans', sans-serif;
        .input-group-addon {
          background: #20b7a3;
          color: white;
          border: none;
          border-radius: 0;
          width: 52px;
          .fa {
            font-size: 18px;
          }
        }
        &.upload {
          border: none;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          font-size: 11px;
          text-transform: uppercase;
          .image-upload {
            display: inline-block;
            background: $java;
            width: 45px;
            height: 45px;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            margin-right: 15px;
            margin-left: 4px;
            transition: 1s;
            label {
              display: block;
              cursor: pointer;
              .fa {
                font-size: 18px;
                margin-left: 2px;
              }
            }
            input {
             display: none;
            }
            &:hover {
              background: white;
              color: $java;
            }
          }
        }
        &.message {
          .input-group-addon {
            vertical-align: top;
            padding-top: 20px;
          }
          textarea {
            background: none;
            height: 190px;
            border: none;
            padding-top: 16px;
            font-weight: 100;
          }
        }
        input {
          height: 52px;
          background: none;
          color: white;
          border: none;
          border-radius: 0;
          vertical-align: middle;
          font-weight: 300;
        }
      }
      .form-group {
        margin-bottom: 3rem;
      }
      .button-more {
        background: none;
        color: white;
        border: 1px solid white;
        transition: 1s;
        font-size: 16px;
        width: 100%;
        max-width: none;
        &:hover {
          background: white;
          color: $java;
        }
      }
    }
  }
}
