&#introduce {
  /*------------------------------------------------------------------
  [5.2 Section Introduce / #introduce]
  */
  line-height: 24px;
  @media (min-width: $screen-lg) {
    h2 {
        margin-bottom: 6rem;
    }
  }
  p.visible-xs {
    margin-top: 5rem;
  }
  .carousel-container {
    position:relative;
    width: 100%;
    border-bottom: 1px solid $cod_gray;
    margin: 5rem auto 0;
    #introduce-carousel {
      height:255px;
      max-width:960px;
      margin: 0 auto;
      position:relative;
      .carousel-feature {
        position:absolute;
        bottom: 0;
        top: auto!important;
        .carousel-image {
          border:0;
          display:block;
        }
        .carousel-caption {
          position:absolute;
          bottom:0;
          width:100%;
          background-color:#000;
          p {
            margin:0;
            padding:5px;
            font-weight:bold;
            font-size:12px;
            color:white;
          }
        }
      }
    }
  }

  #services {
    #main-services {
      padding-bottom: 5rem;
      .col-xs-12 {
        overflow: hidden;
        padding-top: 4rem;
        line-height: 24px;
        h3 {
          margin-bottom: 2rem;
          margin-top: 4rem;
        }
        .circle {
          cursor: pointer;
          text-align: center;
          i {
            $size: 135px;
            color: white;
            display: inline-block;
            position: relative;
            width: $size;
            height: $size;
            border: 1px solid black;
            border-radius: 50%;
            overflow: visible;
            @include transition(color 0.25s ease-in-out);
            &::before {
              position: relative;
              font-size: 50px;
              line-height: 130px;
              // line-height: $size;
              z-index: 1;
            }
            &::after {
              opacity: 1;
              display: block;
              position: absolute;
              content: "";
              width: $size - 2;
              height: $size - 2;
              top: 0;
              left: 0;
              border-radius: 50%;
              background-color: $java;
              $ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);
              @include transition(all 0.35s $ease-out-back);
              @include transform(scale(0.92));
              z-index: 0;
            }
          }
          &:hover i {
            color: $java!important;
            border-color: $java;
          }
          &:hover i::after {
            opacity: 0;
            @include transform(scale(1.2));
          }
          &.red i {
            color: white;
            &::after {
                background-color: $java;
            }
          }
        }
      }
      @media (min-width: $screen-sm) {
        .col-xs-12 {
          padding-top: 10rem;
          height: 390px;
        }
      }
    }
    #secondary-services {
      display: none;
      border-top: 1px solid $cod_gray;
      line-height: 24px;
      padding-top: 5rem;
      .col-xs-12 {
        overflow: hidden;
        margin-bottom: 3rem;
        height: 120px;
        h3 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 18px;
          padding-bottom: 2rem;
          color: white;
          line-height: 30px;
          .fa {
            font-size: 30px;
            display: block;
            float: left;
            color: $java;
            margin-right: 15px;
          }
        }
      }
      @media (min-width: $screen-sm) {
        .col-xs-12 {
          margin-bottom: 5rem;
          height: 110px;
          h3 {
            padding-bottom: 3rem;
          }
        }
      }
    }
  }
  p:last-child {
    margin: 0;
    // padding: 0 5px;
  }
  .button-more {
    z-index: 100;
  }
}
