&#latest_news {
  background: $ebony;
  #owl-latest-news {
    margin-bottom: 3rem;
    .item {
      margin: 10px;
      .news-image {
        margin-bottom: 20px;
        height: 180px;
        overflow: hidden;
        img {
          width: 100%;
          position: relative;
          top: -50%;
        }
        @media (min-width: 611px) {
          height: auto;
          img {
            position: static;
          }
        }
      }
      .news-title {
        display: table;
        zoom: 1;
        margin-top: 0;
        padding: 10px 0;
        line-height: 32px;
      }
      .date {
        width: 65px;
        height: 65px;
        font-size: 36px;
        color: $java;
        text-align: center;
        float: left;
        margin-right: 20px;
        span {
          display: block;
          background: $java;
          color: black;
          font-size: 9px;
          padding: 5px 0;
        }
      }
      .description {
        clear: both;
      }
    }
  }
}
