&#latest_news {
  background: $ebony;
  overflow: hidden;
  @media (min-width: $screen-lg) {
    h2 {
      margin-bottom: 7rem
    }
  }
  &:before {
    background: $black_pearl;
  }
  #owl-latest-news {
    max-width: 1170px;
    margin: 0 auto 6rem;
    .item {
      padding: 0 15px;
      font-family: 'Roboto', sans-serif;
      .news-image {
        margin-bottom: 20px;
        height: 140px;
        overflow: hidden;
        a {
          display: block;
          position: relative;
          top: -50%;
          transition: 1s;
          &:hover {
            transform: scale(1.1);
          }
        }
        @media (min-width: 611px) {
          height: auto;
          a {
            position: static;
          }
        }
      }
      .news-title {
        min-height: 70px;
        overflow: hidden;
        margin-top: 0;
        padding: 15px 0 0 0;
        line-height: 30px;
        a {
          color: white;
          &:hover {
            color: $java;
            text-decoration: none;
          }
        }
      }

      .date {
        width: 65px;
        // height: 65px;
        font-size: 36px;
        color: $java;
        text-align: center;
        float: left;
        margin-right: 2.5rem;
        margin-bottom: 3rem;
        font-weight: 900;
        span {
          display: block;
          background: $java;
          color: black;
          font-size: 9px;
          font-weight: 400;
          padding: 5px 0;
          text-transform: uppercase;
        }
      }
      .description {
        clear: both;
        line-height: 24px;
      }
      @media (min-width: $screen-sm){
        padding-bottom: 8rem;
        .item {
          margin: 10px;
        }
      }
    }
  }
}
