&#mobile_top {
  // background: url(../img/space/starfield/right.png);
  background: image-url('mobile_back.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  // height: 350px;
  height: 100vh;
  #earth_mobile {
    display: none;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(http://flatplanet.sourceforge.net/maps/images/PathfinderMap.jpg) 0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 20s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
    color: #000;
  }
  @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }
  .container {
    // position: relative;
    // top: -300px;
    h1 {
      color: $java;
      font-family: 'Roboto', sans-serif;
      font-size: 2.5rem;
      font-weight: 500;
      span {
        color: white;
      }
      p:first-child {
        margin-bottom: 30px;
      }
      p:last-child {
        font-size: 5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    a.arrow_down {
      display: inline-block;
      cursor: pointer;
    }
    @media (min-width: $screen-md) {
      h1 {
        font-size: 5rem;
        p:last-child {
          font-size: 6.5rem;
        }
      }
    }
  }
}
