&#project_info {
  .menu {
    margin-bottom: 20px;
    overflow: hidden;
    a {
      display: block;
      float: left;
      background: $ebony;
      border: 1px solid $cod_gray;
      padding: 10px 0;
      width: 33%;
      color: $dusty_gray;
      text-transform: uppercase;
      &:hover, &.active {
        background: $mountain_meadow;
        border: 1px solid $mountain_meadow;
        text-decoration: none;
        color: black;
      }
      @media (min-width: $screen-sm) {
        display: inline-block;
        float: none;
        width: auto;
        margin-bottom: 60px;
        padding: 10px 50px;
      }
    }
  }

  #timeline {
    .project_progress_v2 {
      height: 356px;
      position: relative;
      .project_step {
        position: absolute;
        top: 10px;
        height: 250px;
        min-width: 65px;
        padding-top: 150px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;
        z-index: 200;
        text-align: center;
        background-repeat: no-repeat!important;
        background-position: 50% 0!important;
        .date {
          margin-bottom: 3rem;
        }
        &:nth-child(2n){
          top: auto;
          bottom: 21px;
          height: 227px;
          padding-top: 0;
          background-position: 50% 100%!important;
          .name {
            margin-bottom: 3rem;
          }
          .date {
            margin-bottom: 0;
          }
        }
        &.step1 {left: 11%; background: image-url('project_step1.png');}
        &.step2 {left: 25%; background: image-url('project_step2.png');}
        &.step3 {left: 39%; background: image-url('project_step3.png');}
        &.step4 {left: 52%; background: image-url('project_step4.png');}
        &.step5 {left: 66%; background: image-url('project_step5.png');}
        &.step6 {left: 80%; background: image-url('project_step6.png');}
        .date {
          background: $java;
          font-size: 10px;
          color: $ebony;
          text-transform: uppercase;
          padding: 5px 10px;
        }
        .name {
          color: white;
        }
      }
    }
    .project_progress_v2 {
      hr {
        position: absolute;
        background: $abbey;
        height: 5px;
        width: 100%;
        top: 42%;
        display: block;
        border: none;
        &:after {
          content: '';
          height: 20px;
          width: 20px;
          background: $abbey;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: -7px;
          right: 0;
        }
        &:before {
          content: '';
          height: 20px;
          width: 20px;
          background: $abbey;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: -7px;
          left: 0;
        }
      }
    }
    .project_progress_mobile {
      position: relative;
      height: 600px;
      width: 290px;
      margin: 0 auto;
      .vertical_axis {
        position: absolute;
        background: $java;
        height: 100%;
        width: 5px;
        top: 0;
        left: 50%;
        margin-left: -10px;
        display: block;
        border: none;
        &:after {
          content: '';
          height: 20px;
          width: 20px;
          background: $java;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: -7px;
          left: -7px;
        }
        &:before {
          content: '';
          height: 20px;
          width: 20px;
          background: $java;
          border-radius: 50%;
          display: block;
          position: absolute;
          bottom: -7px;
          left: -7px;
        }
      }
      .project_step {
        position: absolute;
        left: 0;
        width: 100%;
        height: 60px;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 16px;
        z-index: 200;
        text-align: right;
        background-repeat: no-repeat!important;
        background-position: 90% -10%!important;
        padding-right: 40%;
        padding-top: 16px;
        .date {
          background: $java;
          font-size: 10px;
          color: $ebony;
          text-transform: uppercase;
          padding: 5px 10px;
          display: inline-block;
          margin-left: 2rem;
          position: relative;
          &:after {
            content: '';
            display: block;
            background: image-url('pro_info_bullet_m.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            position: absolute;
            top: 7px;
            width: 20px;
            height: 8px;
            right: -20px;
          }
        }
        .name {
          color: white;
          display: inline-block;
        }
        &.step1 {top: 5.7%; background: image-url('project_step1.png');}
        &.step2 {top: 21.4%; background: image-url('project_step2.png');}
        &.step3 {top: 37.1%; background: image-url('project_step3.png');}
        &.step4 {top: 52.8%; background: image-url('project_step4.png');}
        &.step5 {top: 68.5%; background: image-url('project_step5.png');}
        &.step6 {top: 84.2%; background: image-url('project_step6.png');}
        &:nth-child(2n){
          background-position: 0 100%!important;
          text-align: left;
          padding-left: 38%;
          padding-right: 0;
          .date {
            margin-left: 0;
            margin-right: 2.5rem;
            &:after {
              transform: rotate(180deg);
              right: auto;
              left: -20px;
            }
          }
          &.step2 {background-position: 8% 108%!important;}
          &.step6 {background-position: 12% 105%!important;}
        }
      }
    }
  }
  #responsive {
    h2 {
      padding-top: 0;
      margin-bottom: 3rem;
      line-height: 4rem;
    }
    p {
      line-height: 24px;
      margin-bottom: 3rem;
    }
    @media (min-width: $screen-lg) {
      h2 {
        padding-top: 55px;
      }
    }
  }
  #application {
    .application-section {
      position: relative;
      div {
        margin: 0 auto;
        &.line {
          background: $mountain_meadow;
          height: 1px;
          width: 35px;
          transform: rotate(90deg);
        }
        &.icon {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          line-height: 52px;
          font-size: 2.5rem;
          border: 1px solid $mountain_meadow;
          color: $mountain_meadow;
        }
        &.laptop {
          max-width: 290px;
          background: image-url('laptop.png');
          background-position: 50% 0;
          background-repeat: no-repeat;
          background-size: contain;
          height: 170px;
          padding: 11px 35px 0 35px;
          .screen {
            background: $mountain_meadow;
            color: white;
            height: 136px;
            padding: 1px 10px;
            overflow: hidden;
          }
        }
      }
    }
    @media(min-width: $screen-sm){
      .application-section {
        div {
          display: inline-block;
          &.laptop {
            max-width: 640px;
            background: image-url('laptop.png');
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: cover;
            height: 370px;
            padding: 23px 78px 0 76px;
            .screen {
              background: $mountain_meadow;
              color: white;
              height: 305px;
              padding: 70px;
            }
          }
        }
      }
    }
  }
}
