&#recent_works {
  background: $ebony;
  &:before {
    background: $black_pearl;
  }
  .owl-controls {
    overflow: hidden;
    margin: 0;
    .owl-prev, .owl-next {
      font-size: 2.4rem;
      font-family: FontAwesome;
      text-indent: -9999px;
      color: white;
      background: $java;
      border: 1px solid $java;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      opacity: 1;
      height: 50px;
      width: 50px;
      padding: 0;
      margin: 0;
      margin-top: -25px;
      transition: 1s;
      &:hover {
        color: $java;
        background: $ebony;
      }
      &:before,
      &:after {
        position: absolute;
        display: block;
        text-indent: 0;
        line-height: 45px;
      }
    }
    .owl-prev {
      left: 20px;
      &:before {
        content: '\f104';
        left: 50%;
        margin-left: -6px;
      }
    }
    .owl-next {
      right: 20px;
      &:before {
        content: '\f105';
        right: 50%;
        margin-right: -6px;
      }
    }
  }
  .item {
    position: relative;
    transition: 1s;
    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: white;
      img { width: 100%;}
      .recent_hover {
        opacity: 0;
        background: rgba(32,183,163,0.5);
        transition: all 0.3s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        .content {
          position: absolute;
          height: auto;
          width: 100%;
          top: 30%;
          left: 0;
          text-align: center;
          .fa {
            font-size: 45px;
            margin-bottom: 20px;
            display: inline-block;
            line-height: 1;
            transform: scale(1.5) rotate(-10deg);
            transition: all 0.3s ease;
            @media(min-width: $screen-lg) {

            }
            @media(min-width: $screen-lg) {
              font-size: 45px;
              margin-bottom: 20px;
            }
          }
          h4 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
          }
          span {
            font-size: 14px;
          }
        }
      }
      &:hover {
        .recent_hover {
          opacity: 1;
          .content {
            .fa {
              transform: scale(1) rotate(0deg);
            }
          }
        }
      }
    }
  }
  @media(min-width: $screen-sm) {
    .owl-controls {
      .owl-prev, .owl-next {
        font-size: 3.6rem;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        &:before,
        &:after {
          line-height: 65px;
        }
      }
      .owl-prev {
        &:before {
          margin-left: -8px;
        }
      }
      .owl-next {
        &:before {
          margin-right: -8px;
        }
      }
    }
  }
}
