&#recent_works {
  background: $ebony;
  .owl-controls {
    overflow: hidden;
    margin: 0;
    .owl-prev, .owl-next {
      font-size: 2.4rem;
      font-family: FontAwesome;
      text-indent: -9999px;
      color: white;
      background: $java;
      border: 1px solid $java;
      border-radius: 50%;
      position: absolute;
      top: 43%;
      opacity: 1;
      height: 50px;
      width: 50px;
      padding: 0;
      margin: 0;
      transition: 1s;
      &:hover {
        color: $java;
        background: $ebony;
      }
      &:before,
      &:after {
        position: absolute;
        display: block;
        text-indent: 0;
        line-height: 45px;
      }
    }
    .owl-prev {
      left: 20px;
      &:before {
        content: '\f104';
        left: 50%;
        margin-left: -6px;
      }
    }
    .owl-next {
      right: 20px;
      &:before {
        content: '\f105';
        right: 50%;
        margin-right: -6px;
      }
    }
  }
  @media(min-width: $screen-sm) {
    .owl-controls {
      .owl-prev, .owl-next {
        font-size: 3.6rem;
        width: 70px;
        height: 70px;
        &:before,
        &:after {
          line-height: 65px;
        }        
      }
      .owl-prev {
        &:before {
          margin-left: -8px;
        }
      }
      .owl-next {
        &:before {
          margin-right: -8px;
        }
      }
    }
  }
  .item {
    position: relative;
    transition: 1s;
    img {
      width: 100%;
    }
    .recent_hover {
      display: none;
      background: rgba(32,183,163,0.95);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      padding-top: 20%;
      text-align: center;
      font-size: 2rem;
      i, span {
        display: block;
      }
      i {
        font-size: 4rem;
        margin: 20px 0;
      }
      span {
        font-size: 1.4rem;
      }
    }
  }
}
