section {
  clear: both;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: " ";
    height: 49px;
    margin-top: -49px;
    // visibility: hidden;
  }
  @media (min-width: $screen-md) {
    padding-bottom: 8rem;
    &:before {
      height: 79px;
      margin-top: -79px;

    }
  }
  @import "sections/mobile_top.scss";
  @import "sections/webgl.scss";
  @import "sections/first.scss";
  @import "sections/introduce.scss";
  @import "sections/recent_works.scss";
  @import "sections/best_sellers.scss";
  @import "sections/become_member.scss";
  @import "sections/mobile_application.scss";
  @import "sections/recent_post.scss";
  @import "sections/project_info.scss";
  @import "sections/latest_news.scss";
  @import "sections/client_opinion.scss";
  @import "sections/animated_sales.scss";
  @import "sections/diagrams.scss";
  @import "sections/video_upload.scss";
  @import "sections/sign_up.scss";
  @import "sections/choose_your_plan.scss";
  @import "sections/contact_us.scss";
  @import "sections/abovefooter.scss";

  &#recent_post,
  &#latest_news {
    hr {
      border-color: $cape_cod;
      margin: 0 2.5rem 2rem;
      @media (min-width: $screen-sm) {
        margin: 0 3.4rem 7rem;
      }
    }
    .owl-controls {
      overflow: hidden;
      margin: 0;
      .owl-prev, .owl-next {
        opacity: 1;
        font-family: FontAwesome;
        text-indent: -9999px;
        background: none;
        font-size: 4rem;
        line-height: 3.6rem;
        color: $java;
        position: absolute;
        padding: 0;
        margin: 0;
        top: -40px;
        &:before {
          position: absolute;
          display: block;
          text-indent: 0;
          width: 18px;
          height: 36px;
        }
      }
      .owl-prev {
        left: 15px;
        &:before {
          content: '\f104';
          left: 0;
        }
      }
      .owl-next {
        right: 15px;
        &:before {
          content: '\f105';
          right: 0;
        }
      }
      @media (min-width: $screen-sm) {
        .owl-prev, .owl-next {
          font-size: 6rem;
          top: -9rem;
        }
      }
    }
  }
}
