&#sign_up {
  text-align: center;
  z-index: 999;
  padding-top: 5rem;
  h3 {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: 2.4rem;
    line-height: normal;
    span {
      display: block;
    }
    @media (min-width: $screen-sm) {
      span {
        display: inline-block;
      }
    }
  }
  &.green {
    background: $mountain_meadow;
    color: white;
    position: relative;
  }
  .col-lg-8 {
    .input-group {
      width: 100%;
      margin-bottom: 2rem;
      border: 1px solid #5bbbae;
      overflow: hidden;
      .form-control {
        height: 50px;
      }
      .input-group-addon {
        background: $java;
        color: white;
        border: none;
        border-radius: 0;
        width: 52px;
        .fa {
          font-size: 18px;
        }
      }
      input {
        background: none;
        color: white;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        font-weight: 300;
      }
    }
    button {
      width: 100%;
      background: none;
      border: none;
      padding: 0;
      margin: 0 auto;
      display: block;

      .fa {
        font-size: 5rem;
        transition: 1s;
        position: relative;
        line-height: 50px;
        height: 50px;
        width: 50px;
        overflow: hidden;
        &:before,&:after {
          position: absolute;
          width: 42px;
          height: 50px;
          top: 0;
          left: 0;
        }
        &:before {
          content: '\f058';
          opacity: 1;
        }
        &:after {
          content: '\f00c';
          opacity: 0;
        }
        &:hover {
          font-size: 3rem;
          &:before {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      .button-more {
        border: 1px solid white;
        transition: 1s;
        width: auto;
        color: white;
        &:hover {
          background: white;
          color: $java;
        }
      }
      @media (min-width: $screen-sm) {
        display: inline-table;
        vertical-align: middle;
        width: auto;
      }
    }
  }
  @media (min-width: $screen-sm) {
    padding: 4rem 0;
    h3 {
      margin-bottom: 4rem;
    }
    .col-lg-8 {
      .input-group {
        margin-bottom: 0;
        margin-right: 3rem;
        width: auto;
      }
    }
  }
  @media (min-width: $screen-md) {
    h3 {
      margin-bottom: 0;
      line-height: 5rem;
    }
  }
  @media (min-width: $screen-lg) {
    .col-lg-8 {
      .input-group {
        width: 315px;
      }
    }
  }
}
