&#sign_up {
  text-align: center;
  h3 {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: 2.4rem;
  }
  &.green {
    background: $mountain_meadow;
    color: white;
    position: relative;
  }
  .col-lg-8 {
    .input-group {
      width: 100%;
      margin-bottom: 2rem;
      border: 1px solid #5bbbae;
      overflow: hidden;
      .form-control {
        height: 50px;
      }
      .input-group-addon {
        background: $java;
        color: white;
        border: none;
        border-radius: 0;
        width: 52px;
      }
      input {
        background: none;
        color: white;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        font-weight: 300;
      }
    }
    button {
      width: 100%;
      background: none;
      border: none;
      padding: 0;
      margin: 0 auto;
      display: block;
      .button-more {
        border: 1px solid white;
        transition: 1s;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 32px;
        &:hover {
          background: white;
          color: $java;
        }
      }
      @media (min-width: $screen-sm) {
        display: inline-table;
        vertical-align: middle;
        width: auto;
      }
    }
  }
  @media (min-width: $screen-sm) {
    padding: 4rem 0;
    h3 {
      margin-bottom: 4rem;
    }
    .col-lg-8 {
      .input-group {
        margin-bottom: 0;
        margin-right: 3rem;
        width: auto;
      }
    }
  }
  @media (min-width: $screen-md) {
    h3 {
      margin-bottom: 0;
      line-height: 5rem;
    }
  }
  @media (min-width: $screen-lg) {
    .col-lg-8 {
      text-align: right;
    }
  }
}
