&#video {
  /*------------------------------------------------------------------
  [5.13 Section Video Upload / #video]
  */
  background: $ebony;
  &:before {
    background: $black_pearl;
  }
  .video-steps {
    .video-step {
      width: 100%;
      display: table;
      padding-bottom: 3rem;
      position: relative;
      div {
        display: table-cell;
        vertical-align: top;
        &.video-icon {
          .fa {
            font-size: 23.67px;
            width: 62px;
            height: 62px;
            line-height: 62px;
            border-radius: 50%;
            background: $java;
            color: white;
            text-align: center;
            margin-right: 3rem;
          }
        }
        &.video-step-description {
          h3 {
            margin: 0 0 10px 0;
            line-height: 30px;
          }
          p {
            line-height: 24px;
          }
        }
      }
    }
    .line {
      opacity: 0;
      position: absolute;
      left: 31px;
      top: 62px;
      display: block;
      height: 100%;
      width: 1px;
      background: $cape_cod;
    }
    @keyframes video-line {
      from {
        height: 0;
        opacity: 0;
      }
      to {
        height: 100%;
        opacity: 1;
      }
    }
    .video-line {
      animation-name: video-line;
      animation-duration: 1.25s;
    }
  }
  .video-laptop {
    background: image-url('09_step_by_step.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 265px;
    padding: 13px 11px 73px 10px;
    margin: 0 auto;
    #youtube_canvas {
      height:150px;width:100%;max-width:100%;
      iframe {
        height:100%;width:100%;max-width:100%;border:0;
      }
    }
    @media (min-width: $screen-sm) {
      width: auto;
      max-width: 539px;
      height: 466px;
      padding: 27px 24px 130px 20px;
      #youtube_canvas {
        height: 310px;
      }
    }
    @media (min-width: $screen-md) {
      padding: 22px 20px 183px 17px;
      #youtube_canvas {
        height: 262px;
      }
    }
    @media (min-width: $screen-lg) {
      padding: 27px 24px 130px 20px;
      #youtube_canvas {
        height: 308px;
      }
    }
  }
  @media (min-width: $screen-sm) {
    h2 { text-align: left;}
  }
  @media (min-width: $screen-md) {
    .col-xs-12.col-md-6.text-center {
      padding-top: 8rem;
    }
    h2 {
      margin-bottom: 6.5rem;
    }
  }
}
