&#video_upload{
  background: $ebony;
  h2 { text-align: center;}
  .video {
    background: image-url('video_upload.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 265px;
    padding: 13px 10px 73px 10px;
    margin: 0 auto;
    iframe {
      width: 100%;
      height: 100%;
    }
    @media (min-width: $screen-sm) {
      width: auto;
      max-width: 539px;
      height: 466px;
      padding: 27px 24px 130px 20px;
    }
    @media (min-width: $screen-md) {
      padding: 22px 20px 183px 17px;
    }
    @media (min-width: $screen-lg) {
      padding: 27px 24px 130px 20px;
    }
  }
  @media (min-width: $screen-sm) {
    padding-top: 10rem;
    h2 { text-align: left;}
  }
}
